header {
    background-color: #ccc;
    overflow: hidden;
}

.nav{
    padding: 0;
}

.nav a {
    text-decoration: none;
    color: #0074D9;
    margin: 0;
}

.nav li {
    list-style: none;
    display: block;
}

.title {
    text-align: center;
    margin: 0;
}

@media only screen and (min-width:20em) {

.nav li {
display: inline-block;
}

.nav {
     text-align: center;
}
}

@media only screen and (min-width:40em) {

.title {
    float: left;
}

.nav {
    float: left;
}

.nav a {
    margin: 0;
}
}
